<p id="notice"><%= notice %></p>

<%= if @contest.name %>
  <h1>Tournament Owner: </strong><%= @contest.name.gsub(".", " ") %></h2>
    <h2>Active round: <%= @contest.active_round %></h2>
  <%=link_to contest_round_path(contest_id: @contest.id, id: @contest.active_round), class: "btn btn-primary" do %><strong>Vote on this round!</strong>
  <%end%>
  <hr>
  </p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">See the results of previous rounds:</h3>
      </div>
      <div class="panel-body">
        <% if @contest.rounds.count > 1 %>
        <ul>
        <% @contest.rounds.each do |round| %>
          <li>See the results of Round #<%= round.number %></li>
        <%end%>
      </ul>
      <%else%>
        <p>There are no posted rounds in this Tournament yet. <%= link_to "Continue with Round 1.", contest_round_path(contest_id: @contest.id, round_id: 1) %>
      <%end%>
      </div>
    </div>
  <% else %>
    <%= raise 

<%= link_to 'Back', contests_path %>
