<h2><%=@contest.name %>'s Photo Tournament</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Round Number:</strong>
  <%= @round.number %>
</p>

<% @pairs.each do |image| %>
<table>
  <thead>
    <tr>
      <th>Image a</th>
      <th>Image b</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tr>
      <td><%= image[0] %></td>
      <td><%= image[1] %></td>
      <td></td>
      <td></td>
  <tbody>

</table>
<% end %>

<%= link_to 'Back', contest_path(@contest) %>
