<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @round.number %>
</p>

<p>
  <strong>Image a:</strong>
  <%= @round.image_a %>
</p>

<p>
  <strong>Image b:</strong>
  <%= @round.image_b %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
