<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="tables"><%=@contest.name.gsub(".", " ") %>'s Photo Tournament</h1>
          <h2>Round <%= @round.number %></h2>
      </div>
      <%= form_tag winners_contest_round_images_path(round_id: @round.id, contest_id: @contest.id), method: :put do %>
      <div class="table-responsive">
        <% i = 1 %>
        <% @pairs.each do |image| %>
          <div class="well">
            <h2>Photo Face Off #<%= i %></h2>
            <% i = i +1 %>
            <table class="table table-hover ">
              <thead>
              <tr>
                <th><h2>Image A</h2></th>
                <th><h2>Image B</h2></th>
              </tr>
            </thead>
            <% if image[0].in_competition == true && image[1].in_competition == true %>
              <div class="image_contest">
                <tr>
                  <td><strong><%= image[0].title %></strong></td>
                  <td><strong><%= image[1].title %></strong></td>
                </tr>
                <tr>
                  <td><%= image_tag image[0].url, width: "350" %></td>
                  <td><%= image_tag image[1].url, width: "350" %></td>
                </tr>
                <div class="image-contest">
                  <tr>
                    <td>
                      <%= check_box_tag "image_ids[]", image[0].id %>
                      <%= label_tag(:in_competition, "Check Here If Image A Wins!") %>

                    </td>
                    <td>
                      <%= check_box_tag "image_ids[]", image[1].id %>
                      <%= label_tag(:in_competition, "Check Here If Image B Wins!") %>

                    </td>
                  </tr>
                </div>
              </div>
            <% else %>
              <%= render "images/wins" %>
            <%end%>
              <tr>
                <td>
                  <% end %>
                  <%= submit_tag "Submit Winners to Round", class: "btn btn-primary" %>
                </td>
              </tr>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>


<%= link_to 'Back', contest_path(@contest) %>
